@charset "UTF-8";
h1  {color: indigo;}
h2   {color:indigo;}
h3   {color: indigo;}
body {
     background-color: skyblue;}
 h1,h2,h3,h4 {font-family: arial, helvetica; sans-serif;
     font-size: 14px
      line-height: 16px;}
body{background-image: url(slike/13.jpg);}
p {color:mediumvioletred;}
p1,p2 {color: indigo;}
p1,p2{font-size: 18px;
      line-height: 16px;}
a {color: deeppink;}
ol,li {color: mediumvioletred;}
img {
  height: 500px;
}
